#midsection {
    padding-top: 80px;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__left {
            position: relative;

            .circle {
                width: 263px;
                height: 263px;
                background-color: #271d4f;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 150px;
            }

            .universe {
                position: absolute;
                left: 250px;
                width: 51px;
                height: 51px;
                background-color: rgba(41, 28, 82, 1);
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                color: #ef9eb8;
            }
        }
    }
}
// Mid section ends /* Character/Ikbal 5 */

#fourth {
    padding-top: 222px;
    .wrapper {
        display: flex;
        gap: 172px;
        

        &__right {
            margin-top: -30px;

            p {
                margin-top: 40px;
                margin-bottom: 40px;
            }

            button {
                @extend %btnPrimary;
            }
        }

        &__left {
            position: relative;

            .micro {
                position: absolute;
                top: -64px;
                left: -52px;
            }

            .thirdpicture {
                position: absolute;
                top: 72px;
                left: 300px;
            }

            .fourthpicture {
                position: absolute;
                top: -72px;
                left: 304px;
            }

            .ikbal {
                position: absolute;
                right: 13px;
                top: 80px;
            }
        }
    }
}


// Fifth page starts
#girlsection {
   padding-top: 245px;
   .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 140px;

    &__left {

        button {
            @extend %btnPrimary;
            margin-top: 40px;
        }
    }










    &__right {
    
        flex-grow: 2;
    
        position: relative;
        background-image: url("../../assets/images/cicle.svg");
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
    
        img {
          position: absolute;
    
          &:nth-child(1) {
            top: 293px;
            left: -79px;
          }
    
          &:nth-child(2) {
            bottom: -154px;
            left: 26px;
          }
    
          &:nth-child(3) {
            top: 4px;
            right: 395px;
          }
    
          &:nth-child(4) {
            bottom: 171px;
            right: -8px;
          }
        }
      }


   }

   



   }
    
