@font-face {
  font-family: "Helvetica Neue bold";
  src: url("../../assets/fonts/HelveticaNeueBold.otf");
}

@font-face {
  font-family: "Helvetica Neue medium";
  src: url("../../assets/fonts/HelveticaNeueMedium.otf");
}

// ----------------- fonts -------------------------------

.font-helvetica-bold {
  font-family: "Helvetica Neue bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-helvetica-medium {
  font-family: "Helvetica Neue medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-helvetica-regular {
  font-family: "Helvetica Neue medium", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// ----------------- text gradients -------------------------------

.text-gradient-primary {
  background: #6dc1dc;
  background: linear-gradient(
    to left,
    #6dc1dc 2%,
    #a690fc 40%,
    #fc96bb 82%,
    #ffc397 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  //styleName: Heading / H2;
font-family: Manrope;
font-size: 48px;
font-weight: 800;
line-height: 64px;
letter-spacing: 0em;
text-align: center;
color: rgba(235, 230, 250, 1);
}

p {
font-family: Helvetica Neue;
font-size: 22px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
text-align: left;

color: rgba(226, 225, 228, 1);

}
h4 {
font-family: Helvetica Neue;
font-size: 48px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0em;
text-align: right;
color: rgba(255, 255, 255, 1);

}

h1 {
  font-family: Helvetica Neue;
font-size: 48px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}

